# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gitignore
.idea/
Databases-Frameworks-Hibernate-SpringData-2018-MAR.iml
out/production/Databases-Frameworks-Hibernate-SpringData-2018-MAR/T02_Basics/01. DB-Advanced-Java-Basics-Exercises.docx
out/production/Databases-Frameworks-Hibernate-SpringData-2018-MAR/T03_OOPOverview/02. DB-Advanced-Java-OOP-Overview-Exercises.docx
out/production/Databases-Frameworks-Hibernate-SpringData-2018-MAR/T04_Fundamentals/03. DB-Advanced-Java-Fundamentals-Exercises.docx
out/production/Databases-Frameworks-Hibernate-SpringData-2018-MAR/T05_OOPPrinciples/04. DB-Advanced-OOP-Principles-Exercises.docx
